##
# ISPconfig htpasswd folders vhost template
# @TODO: ISPConfig plugin to format vhost (location tag indent)
##

<tmpl_loop name="basic_auth_locations">
location <tmpl_var name='htpasswd_location'> { ##merge##
	    auth_basic "Members Only";
	    auth_basic_user_file <tmpl_var name='htpasswd_path'>.htpasswd;
	    location ~ \.php$ {
		try_files <tmpl_var name='rnd_php_dummy_file'> @php;
	    }
}
</tmpl_loop>
