##
# ISPconfig PHP-FPM vhost template
# @TODO: ISPConfig plugin to format vhost (location tag indent)
##

location @php {
	    try_files $uri =404;
	    include /etc/nginx/fastcgi_params;
<tmpl_if name='use_tcp'>
	    fastcgi_pass 127.0.0.1:<tmpl_var name='fpm_port'>;
</tmpl_if>
<tmpl_if name='use_socket'>
	    fastcgi_pass unix:<tmpl_var name='fpm_socket'>;
</tmpl_if>
	    fastcgi_index index.php;
<tmpl_if name='php_fpm_chroot' op='==' value='y'>
	    fastcgi_param DOCUMENT_ROOT <tmpl_var name='php_fpm_chroot_web_folder'>;
	    fastcgi_param HOME <tmpl_var name='php_fpm_chroot_web_folder'>;
	    fastcgi_param SCRIPT_FILENAME <tmpl_var name='php_fpm_chroot_web_folder'>$fastcgi_script_name;
<tmpl_else>
	    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
</tmpl_if>
	    #fastcgi_param PATH_INFO $fastcgi_script_name;
	    fastcgi_intercept_errors on;
}
